<Project>
  <PropertyGroup>
    <Configuration>Release</Configuration>
    <Platform>ARM64</Platform>
    <RuntimeIdentifier>win-arm64</RuntimeIdentifier>
    <WindowsPackageType>MSIX</WindowsPackageType>
    <UapAppxPackageBuildMode>StoreUpload</UapAppxPackageBuildMode>
    <AppxBundle>Never</AppxBundle>
    <AppxPackageSigningEnabled>false</AppxPackageSigningEnabled>
    <AppxSymbolPackageEnabled>false</AppxSymbolPackageEnabled>
  </PropertyGroup>
</Project>
